.warp_body{
    background-color: #fdd6e5;

}

.cont{
    max-width:1200px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    padding-top: 50px;
    padding-bottom: 50px;
}

.block_1{
    border-radius: 30px;
    background-color: #ffe9ed;
    height: 517px;
    overflow: hidden;
}

.img-round{
    border-radius: 30px;
}

.title_h1{
    color: #2e1a3d;
    font-size: 36px;
    line-height: 1.20;
    font-weight: 400;
}

.warp_img{
    padding-right: 0;
    display: flex;
    justify-content: end;
}

.pl-60{
    padding-left: 60px;
}




.bt_index{
    width: 365px;
    height: 89px;
    color: #2e1b3e;
    font-size: 21px;
    line-height: 1.50;
    font-weight: 400;
    border-width: 1px;
    border-radius: 30px;
    background-color: #fdacbb;
    background-position: center center;
    border-color: #2e1a3d;
    border-style: solid;
    margin-top: 60px;
    -webkit-box-shadow: 7px 10px 0px 0px rgba(230, 132, 170, 1);
    -moz-box-shadow: 7px 10px 0px 0px rgba(230, 132, 170, 1);
    box-shadow: 7px 10px 0px 0px rgba(230, 132, 170, 1);
    transition: .2s;
}

.bt_index:hover{
    -webkit-box-shadow: 4px 6px 0px 0px rgba(230, 132, 170, 1);
    -moz-box-shadow: 4px 6px 0px 0px rgba(230, 132, 170, 1);
    box-shadow: 4px 6px 0px 0px rgba(230, 132, 170, 1);
}


.bt{
    border: 1px solid #2E1B3E;
    box-sizing: border-box;
    border-radius: 41px;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 300px;
    height: 47px;
    background: none;
    cursor: pointer;
    margin-bottom: 10px;
}
.bt:hover{
    background: #F5CFD6;
}
.bt:active{
    color: #F5CFD6;
    background: #2E1B3E;
}

.warp_model{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0, 0.55);
    overflow: auto;
    align-items: start;
    justify-content: center;
    display: none;
}
.warp_model.active{
    display: flex;
}
.modal_body{
    position: relative;
    width: 100%;
    max-width: 1160px;
    margin-top: 45px;
    margin-bottom: 45px;
    background: #FFEAEE;
    border-radius: 20px;
    padding: 40px 25px;
}
.close_model{
    position: absolute;
    right: -29px;
    top: -34px;
    cursor: pointer;
}

.title{
    font-weight: bold;
    font-size: 21px;
    line-height: 150%;
}

.title span{
    color: #2E1B3E;
    font-size: 14px;
    opacity: 0.5;
    margin-left: 20px;
}

.sub_title{
    margin-top: 10px;
    margin-bottom: 22px;
    font-size: 18px;
}

.label-bt span{
    display: none;
}

input[type="radio"],
input[type="checkbox"]{
    opacity: 0;
    display: none;
}

input[type="radio"]:checked+label,
input[type="checkbox"]:checked+label{
    color: #F5CFD6;
    background: #2E1B3E;
}
input[type="radio"]:checked+label span,
input[type="checkbox"]:checked+label span{
    display: block;
    margin-left: 16px;
}
.warp_choose_zone,
.warp_selected_services{
    display: none;
}
.warp_choose_zone.active,
.warp_selected_services.active{
    display: block;
    height: 100%;
}

.warp_selected_services .name{
    font-weight: 600;
    font-size: 18px;
    color: #2E1B3E;

}
.warp_selected_services .price{
    font-size: 18px;
    color: #968396;

}

.warp_selected_services .price button{
    background: #F5CFD6;
    border: 1px solid #2E1B3E;
    box-sizing: border-box;
    border-radius: 41px;
    height: 32px;
    width: 32px;
    margin-left: 14px;
}
.warp_selected_services .price button svg{
    margin-top: -3px;
    transform: rotate(45deg);
    transition: .5s;
}

.warp_selected_services .price button:hover svg{
    transform: rotate(135deg);
}


.warp_choose_zone .label-bt{
    max-width: 100%;
}

.warp_itog{
    margin-top: 15px;
}
.warp_itog .title{
    margin-bottom: -15px;
}

.warp_itog .price{
    font-weight: bold;
    font-size: 40px;
    color: #2E1B3E;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.warp_itog .price .discount{
    font-weight: bold;
    font-size: 24px;
    text-decoration-line: line-through;
}

.warp_sign_up_online{
    margin-top: 5px;
}
.price span.rubl{
    font-weight: bold;
    font-size: 24px;
    margin-left: 6px;
}

.price .discount span.rubl{
    font-weight: bold;
    font-size: 18px;
    margin-left: 6px;
}

.warp_add_service button{
    background: #FFEAEE;
    border: 1px solid #2E1B3E;
    box-sizing: border-box;
    border-radius: 41px;
    height: 47px;
    width: 100%;
    position: relative;
}
.warp_add_service button svg{
    position: absolute;
    right: 20px;
    top: calc( 50% - 6px);
}

.warp_add_service button:hover{
    background: #F5CFD6;
}

.bt_sing{
    background: #E684AA;
    border-radius: 10px;
    font-weight: 500;
    font-size: 21px;
    line-height: 150%;
    width: 100%;
    border: 0;
    color: #fff;
    padding: 20px 0;
}
.bt_sing:hover{
    background-color: #C58DB4;
}

.input-control{
    background: #FFFFFF;
    border: 1px solid #FDACBB;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 500;
    font-size: 21px;
    padding-top: 19px;
    padding-bottom: 19px;
    text-indent: 20px;
    margin-bottom: 25px;
    max-width: 600px;
    width: 100%;
}

.input-error{
    color: #ff2626;
    font-size: 16px;
    position: absolute;
    left: 23px;
    bottom: 3px;
    font-weight: 600;
}

.warp_form .bt_sing{
    max-width: 600px;
    width: 100%;
}

.warp_result .name{
    font-weight: 600;
    font-size: 18px;
}
.warp_result span.price{
    font-size: 18px;
}

.modal_body.finish{
    background: #E684AA;
    text-align: center;
    padding: 146px 0;
}

.modal_body.finish .result{
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 27px;
}

.modal_body.finish .sub_result{
    font-size: 18px;
    color: #ffffff;
}



@media all and (max-width: 960px){
    #rec399269539 .tn-elem[data-elem-id="1640611121472"] .tn-atom{
        display: none;
    }
    .vkrDropTop:before{
        right: 0px;
    }
    .calcLeftBlock{
        display: none;
    }
    .calcRightBlock{
        width: 100%;
        border-radius: 30px;
        padding: 0px 20px;
    }
    .calcRightBlock:before{
        display: none;
    }
    .calcRightBlock:after{
        display: none;
    }
    .vkrUslugaPrice{
        right: 45px;
        padding: 0;
        top: 17px;
        height: auto;
        width: auto;
        font-size: 15px;
    }
    .vkrDropTop {
        padding: 10px 10px;
    }
    .submitCalcButton{
        width: 90%;
    }
    .inputBlockInput input{
        width: 90%;
    }
}